.popup__heading {
  margin: 34px 64px 24px 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.2084;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .popup__heading {
    font-size: calc((100vw - 320px) / (1280 - 320) * (24 - 18) + 18px);
    line-height: calc((100vw - 320px) / (1280 - 320) * (29 - 22) + 22px);
  }
}

@media screen and (max-width: 320px) {
  .popup__heading {
    margin: 25px 22px 45px 22px;
  }
}
