.header__logo {
  margin-right: auto;
  max-width: 142px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-top: 5px;
    padding-left: 27px;
    padding-bottom: 28px;
    max-width: 103.74px;
  }
}
