.form__title {
  margin: 0;
  padding-bottom: 49px;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.21;
}
@media screen and (max-width: 375px) {
  .form__title {
    padding-bottom: 39px;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
